body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  font-family: verdana;
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  width: 100vw;
  overflow-x: hidden;
}

footer {
  width: 100%;
  padding: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(8, 41, 86);
  color: white;
}

footer .cc {
  padding: 1rem;
}

footer i {
  color: white;
}

footer div {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

footer div h4 {
  white-space: nowrap;
}
/* For Webkit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background: rgba(147, 184, 211, 0.9); /* Color of the scrollbar thumb */
  border-radius: 6px; /* Rounded corners */
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(8, 41, 86); /* Color of the scrollbar thumb on hover */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the scrollbar track */
}

::-webkit-scrollbar-track-piece:start {
  margin-top: 5px; /* Adjust top margin for the track */
}

::-webkit-scrollbar-track-piece:end {
  margin-bottom: 5px; /* Adjust bottom margin for the track */
}


p {
  font-size: 1.1em;
  color: rgb(85, 85, 100);
  transition-property: all;
  transition-duration: 0.3s;
}

i {
  color: rgb(8, 41, 86);
}

html {
  scroll-behavior: smooth;
}

/* header styles */
header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  z-index: 2;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  padding: 1em;
  background-color: white;
  transition-property: all;
  transition-duration: 0.3s;
}

label {
  padding: 1em;
}

label > h2 {
  color: rgb(8, 41, 86);
}

nav {
  margin-right: 4em;
  align-self: flex-end;
  transition-property: all;
  transition-duration: 0.5s;
  z-index: 2;
}
nav > ul {
  list-style-type: none;
  display: flex;
  transition-property: all;
  transition-duration: 0.5s;
  background-color: white;
}
nav > ul > li {
  padding: 1em;
  margin-left: 0.5em;
  font-size: large;
  transition-property: all;
  transition-duration: 0.3s;
}
nav > ul > li > a {
  text-decoration: none;
  color: rgb(8, 41, 86);
  position: relative;
}

nav > ul > li > a:hover {
  color: rgb(15, 104, 226);
}

nav > ul > li > a::after {
  content: "";
  position: absolute;
  background-color: rgb(8, 41, 86);
  height: 0.15em;
  width: 0;
  left: 0;
  bottom: -0.5em;
  transition: 0.3s;
}
nav > ul > li > a:hover::after {
  width: 100%;
  background-color: rgb(15, 104, 226);
}

#nav-btn {
  display: none;
  align-self: flex-end;
  margin-top: -2em;
  transition-property: all;
  transition-duration: 0.9s;
  margin-left: 13em;
}

.rotate {
  transform: rotateY(-180deg);
}

#mode {
  width: 50px;
  height: fit-content;
  cursor: pointer;
}

#mode > i {
  margin-left: 10%;
  margin-right: 10%;
}

#mode > p {
  color: rgb(8, 41, 86);
}

#light {
  display: none;
}

.icon-flex {
  display: flex;
  align-items: baseline;
}

.fa-solid {
  margin-right: 0.3em;
}

/* end of header styles */

/* .main-1 styles */

.main-1 {
  background-color: rgba(147, 184, 211, 0.2);
  margin-top: 93px;
  height: 100vh;
  padding: 3em;
  padding-top: 6em;
  transition-property: all;
  transition-duration: 0.3s;
}

.introduction {
  margin-left: 10em;
  margin-right: 10em;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.introduction > :nth-child(2) {
  display: flex;
  justify-content: end;
  align-items: center;
}

.intro {
  padding: 6em;
  flex-wrap: wrap;
  width: 50%;
}

.intro > h1 {
  transition-property: all;
  transition-duration: 0.3s;
}

.intro > p {
  padding-top: 1em;
  padding-bottom: 1em;
  transition-property: all;
  transition-duration: 0.3s;
}

.intro > p > strong {
  color: rgb(15, 104, 226);
  transition-property: all;
  transition-duration: 0.3s;
}

.intro > h1 {
  font-size: 4em;
}

.img {
  width: 50%;
  height: fit-content;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.2);
  min-width: 240px;
  max-width: 241px;
  position: relative;
}

.introductionMode::before {
  content: "";
  width: 50px;
  height: 50px;
  right: 97%;
  top: 89%;
  position: absolute;
  border-radius: 10px;
  /* border: 2px solid red; */
  border-left: 0.5em solid rgb(8, 51, 112);
  border-bottom: 0.5em solid rgb(8, 51, 112);
  transition-property: all;
  transition-duration: 0.5s;
}

.introductionMode::after {
  content: "";
  width: 50px;
  height: 50px;
  right: -1%;
  top: 3%;
  position: absolute;
  border-radius: 10px;
  /* border: 2px solid red; */
  border-right: 0.5em solid rgb(8, 51, 112);
  border-top: 0.5em solid rgb(8, 51, 112);
  transition-property: all;
  transition-duration: 0.5s;
}

.introductionMode2::before {
  content: "";
  width: 50px;
  height: 50px;
  right: 97%;
  top: 89%;
  position: absolute;
  border-radius: 10px;
  /* border: 2px solid red; */
  border-left: 0.5em solid rgb(202, 224, 239);
  border-bottom: 0.5em solid rgb(202, 224, 239);
  transition-property: all;
  transition-duration: 0.5s;
}

.introductionMode2::after {
  content: "";
  width: 50px;
  height: 50px;
  right: -1%;
  top: 3%;
  position: absolute;
  border-radius: 10px;
  /* border: 2px solid red; */
  border-right: 0.5em solid rgb(202, 224, 239);
  border-top: 0.5em solid rgb(202, 224, 239);
  transition-property: all;
  transition-duration: 0.5s;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.img > img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  border: none;
}

.hi {
  animation: wavingHand 2.6s linear infinite;
  transition-property: all;
  transition-duration: 0.5s;
}

@keyframes wavingHand {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.git {
  margin-right: 3em;
  text-decoration: none;
}

.upwork {
  text-decoration: none;
}

.noshowLogo {
  display: none;
}

.ShowLogo {
  display: block;
}

.stack {
  display: flex;
  align-items: baseline;
}

.stack > h3 {
  padding: 0.5em;
}

.stack > ul {
  display: flex;
  list-style-type: none;
  align-items: baseline;
  flex-wrap: wrap;
  justify-content: center;
}

.stack > ul > li {
  padding: 0.8em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition-property: all;
  transition-duration: 0.5s;
  border-radius: 5px;
}

.stack > ul > li:hover {
  transform: translateY(-16%);
  box-shadow: -1px 22px 19px -15px rgba(0, 0, 0, 0.75);
}

.stack > ul > li > span {
  margin-top: 1em;
}

.stack-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em;
}

.html {
  color: rgb(255, 109, 0);
}

.css {
  color: rgb(57, 158, 214);
}

.js {
  color: rgb(247, 223, 30);
}

.bootstrap {
  color: rgb(108, 25, 255);
}

.react {
  color: rgb(83, 193, 222);
}

#nav-btnClose {
  display: none;
}

.about-me {
  width: 100%;
  background-color: white;
  display: flex;
  padding: 5em;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  transition-property: all;
  transition-duration: 0.3s;
}
#about-para {
  transition-property: all;
  transition-duration: 1.5s;
}

.about-me > div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 35%;
}

.write-up {
  padding: 1em;
  max-width: 30em;
  align-self: center;
}

.write-up > strong {
  color: rgb(15, 104, 226);
  padding: 1em;
}

.write-up > h3 {
  padding-left: 1em;
  color: rgb(8, 41, 86);
}

.write-up > p {
  padding: 1em;
  transition-property: all;
  transition-duration: 0.3s;
}

.about-me {
  position: relative;
}

.about-img {
  width: 90%;
  height: fit-content;
}

.about-img > img {
  width: 100%;
  height: auto;
  border-radius: 20px;
  min-width: 350px;
  max-width: 370px;
}

#projects {
  width: 100%;
  background-color: rgba(147, 184, 211, 0.2);
  display: flex;
  padding: 5em;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition-property: all;
  transition-duration: 0.3s;
}

.project-header {
  /* align-items: start;
  justify-content: start; */
  text-align: center;
  padding-bottom: 1em;
  color: blue;
  width: 70%;
}

.project-subtitle {
  width: 70%;
  text-align: center;
  font-size: larger;
  font-weight: 600;
  margin-bottom: 3em;
}

#projects > div {
  padding: 2em;
  width: 60%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  margin-bottom: 2em;
  /* background-color: whitesmoke; */
  box-shadow: -1px 1px 4px 3px rgba(0, 0, 0, 0.05);
}

.projects-card {
  background: linear-gradient(to left, whitesmoke, rgba(147, 184, 211, 0));
  /* background: linear-gradient(to right, rgb(151, 179, 194) , rgb(21, 55, 102)); */
}

.project-screenshot-div {
  width: 60%;
  max-width: 500px;
  height: 13.5em;
  overflow-y: hidden;
  overflow-x: hidden;
  border-radius: 20px;
  box-shadow: -1px 1px 4px 3px rgba(0, 0, 0, 0.08);
}

.pd-title {
  color: rgb(25, 25, 65);
  white-space: nowrap;
}

.pd-small {
  color: rgb(11, 11, 49);
  font-size: medium;
  /* color: rgb(142, 142, 155); */
}

.pd-span {
  box-shadow: -1px -1px 2px 1px rgba(0, 0, 0, 0.1);
  padding: 0.5em;
  border-radius: 10px;
  white-space: nowrap;
}

.to-view {
  margin-top: 2em;
  font-weight: 600;
  display: flex;
  justify-content: space-around;
}

.to-view > a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.to-view > a:hover > i,
.to-view > a:hover {
  color: blue;
}

/* .project-screenshot-div:hover > img {
  transform: translateY(-20%);
} */

.project-screenshot-div > img {
  width: 100%;
  height: auto;
  border: inherit;
  border-radius: 10px;
  overflow: hidden;
  transition-property: all;
  transition-duration: 0.5s;
}

.proj-description {
  width: 40%;
  text-align: center;
  padding: 1em;
}

.proj-description > h4 {
  padding: 1em;
}

/* contact styles */
#contact {
  padding: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: all;
  transition-duration: 0.3s;
}

#contact h3, #contact h4 , #contact p {
  padding: 1rem;
}

#contact h4 {
  color: rgb(8, 51, 112);
}

#contact h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(8, 51, 112);
  white-space: nowrap;
}

#contact a {
  text-decoration: none;
  font-size: large;
  color: rgb(32, 158, 241);
}

#contact p {
  font-size: x-large;
  color: rgb(8, 51, 112);
}

#contact a i {
  color: rgb(32, 158, 241);
}

#contact div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Media Querries */
@media only screen and (max-width: 767px) {
  footer {
    flex-direction: column;
  }

  footer div {
    width: 100%;
    padding: 1rem;
  }
  nav > ul {
    flex-direction: column;
    position: absolute;
    right: 0;
    left: 100%;
    box-shadow: -3px 3px 3px rgba(0, 0, 0, 0.1);
    z-index: 2;
    background-color: white;
    top: 0;
  }
  nav > ul > li {
    padding: 0.5em;
    background-color: inherit;
    margin: 0.5em;
  }
  .collapse {
    left: 60%;
  }
  #nav-btn {
    display: flex;
    position: absolute;
    right: 5%;
  }
  #nav-btnClose {
    display: initial;
  }
  .introduction {
    flex-direction: column-reverse;
    margin-left: 0;
    margin-right: 0;
  }
  .introduction > :nth-child(2) {
    justify-content: center;
  }
  .intro {
    width: 100%;
    margin-top: 0;
    padding: 1em;
  }
  .intro > h1 {
    padding: 0.3em;
  }
  .main-1 {
    margin-top: 95px;
    padding: 1em;
    height: fit-content;
  }
  section {
    text-align: center;
  }
  .stack {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .stack > h3 {
    margin-bottom: 1em;
  }
  .introduction::after {
    display: none;
  }
  .introduction::before {
    display: none;
  }
  .about-me {
    flex-direction: column;
    padding: 0;
    padding-top: 5em;
  }
  .about-me > div {
    width: 100%;
  }

  .write-img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #projects {
    padding: 1em;
    padding-top: 5em;
  }

  .projects-card {
    background: linear-gradient(to top, whitesmoke, rgba(147, 184, 211, 0));
  }

  #projects > div {
    width: 100%;
    flex-direction: column;
    border-radius: 10px;
  }
  .project-screenshot-div {
    width: 95%;
    max-width: 400px;
    border-radius: 10px;
    height: 9em;
  }
  .project-screenshot-div > img {
    width: 100%;
  }
  .proj-description {
    width: 100%;
  }

  .project-subtitle {
    margin-bottom: 2em;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  nav > ul {
    flex-direction: column;
    position: absolute;
    right: 0;
    left: 100%;
    box-shadow: -3px 3px 3px rgba(0, 0, 0, 0.1);
    z-index: 2;
    background-color: white;
    top: 0;
  }
  nav > ul > li {
    padding: 0.5em;
    background-color: inherit;
    margin: 0.5em;
  }
  .collapse {
    left: 75%;
  }
  #nav-btn {
    display: flex;
    position: absolute;
    right: 5%;
  }
  #nav-btnClose {
    display: initial;
  }
  .introduction {
    flex-direction: column-reverse;
    margin-left: 0;
    margin-right: 0;
  }
  .intro {
    width: 100%;
    margin-top: 0;
    padding: 1em;
  }
  .intro > h1 {
    padding: 0.3em;
  }
  .introduction > :nth-child(2) {
    justify-content: center;
  }
  .main-1 {
    margin-top: 95px;
    padding: 1em;
    height: fit-content;
  }
  section {
    text-align: center;
  }
  .introduction::after {
    display: none;
  }
  .introduction::before {
    display: none;
  }
  .about-me {
    flex-direction: row;
    padding: 0;
    padding-top: 5em;
  }
  .about-me > div {
    width: 50%;
  }
  .write-img {
    display: flex;
    justify-content: center;
    align-items: start;
  }
  .write-up {
    text-align: left;
  }
  #projects > div {
    width: 100%;
    flex-direction: column;
    border-radius: 10px;
  }

  .projects-card {
    background: linear-gradient(to top, whitesmoke, rgba(147, 184, 211, 0));
  }

  .project-screenshot-div {
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
    height: 16.5em;
  }
  .project-screenshot-div > img {
    width: 100%;
  }
  .proj-description {
    width: 100%;
  }

  .project-subtitle {
    margin-bottom: 2em;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
  .main-1 {
    height: fit-content;
  }
  .intro {
    padding: 1em;
  }
  .introduction {
    margin-left: 0;
    margin-right: 0;
  }
  .introduction::after {
    display: none;
  }
  .introduction::before {
    display: none;
  }
  .about-me {
    flex-direction: row;
    padding: 0;
    padding-top: 5em;
  }
  .about-me > div {
    width: 50%;
  }
  .write-img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .write-up {
    text-align: left;
  }
  #projects > div {
    width: 90%;
    flex-direction: row;
    border-radius: 10px;
  }
  .project-screenshot-div {
    width: 60%;
    max-width: 500px;
    border-radius: 10px;
    height: 13em;
  }
  .project-screenshot-div > img {
    width: 100%;
  }
  .proj-description {
    width: 40%;
  }
}

@media screen and (min-width: 1441px) and (max-width: 1700px) {
  /* .main-1 {
    height: fit-content;
  } */
  .intro {
    padding: 2.5em;
  }
}

/* Dark mode styles */

.darkmode-text-big {
  color: rgb(202, 224, 239);
}

.banner {
  color: rgb(8, 41, 86);
}

.darkmode-background {
  background-color: rgba(8, 41, 86, 0.95);
}

.darkmode-p {
  color: rgb(225, 225, 225);
}

.special-text-dark-mode {
  color: white;
}

/* animations */
.fade-in {
  opacity: 0;
  transition: opacity 1.5s ease;
}

.fade-in-left {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 1.5s ease, transform 1.5s ease;
}

.fade-in-right {
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 1.5s ease, transform 1.5s ease;
}

.fade-in-bottom {
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 1.5s ease, transform 1.5s ease;
}
