body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  font-family: verdana;
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p {
  font-size: 1.1em;
  color: rgb(85, 85, 100);
}

i {
  color: rgb(8, 41, 86);
}

html {
  scroll-behavior:smooth;
}

/* header styles */
header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  z-index: 2;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  padding: 1em;
  background-color: white;
}

label {
  padding: 1em;
}

label > h2 {
  color: rgb(8, 41, 86);
}

nav {
  margin-right: 4em;
  align-self: flex-end;
  transition-property: all;
  transition-duration: 0.5s;
  z-index: 2;
}
nav > ul {
  list-style-type: none;
  display: flex;
  transition-property: all;
  transition-duration: 0.5s;
}
nav > ul > li {
  padding: 1em;
  background-color: white;
  margin-left: 0.5em;
  transition-property: all;
  transition-duration: 0.5s;
}
nav > ul > li > a {
  text-decoration: none;
  color: rgb(8, 41, 86);
  position: relative;
}

nav > ul > li > a:hover {
  color: rgb(15, 104, 226);
}

nav > ul > li > a::after {
  content: "";
  position: absolute;
  background-color: rgb(15, 104, 226);
  height: 0.15em;
  width: 0;
  left: 0;
  bottom: -0.5em;
  transition: 0.5s;
}
nav > ul > li > a:hover::after {
  width: 100%;
}

#nav-btn {
  display: none;
  align-self: flex-end;
  margin-top: -2em;
  transition-property: all;
  transition-duration: 0.9s;
  margin-left: 13em;
}

.rotate {
  transform: rotateY(-180deg);
}

#mode {
  width: 50px;
  height: fit-content;
}

#mode > i {
  margin-left: 10%;
  margin-right: 10%;
}

#light {
  display: none;
}

.icon-flex {
  display: flex;
  align-items: baseline;
}

.fa-solid {
  margin-right: 0.3em;
}

/* end of header styles */

/* .main-1 styles */

.main-1 {
  background-color: rgba(147, 184, 211, 0.1);
  margin-top: 93px;
  height: fit-content;
  padding: 3em;
  padding-top: 6em;
}

.introduction {
  margin-left: 16em;
  margin-right: 10em;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.introduction > :nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro {
  padding: 1em;
  flex-wrap: wrap;
  width: 50%;
}

.intro > p {
  padding-top: 1em;
  padding-bottom: 1em;
}

.intro > h1 {
  color: rgb(8, 41, 86);
}

.intro > p > strong {
  color: rgb(15, 104, 226);
}

.intro > h1 {
  font-size: 4em;
}

.img {
  width: 50%;
  height: fit-content;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.2);
  min-width: 240px;
  max-width: 241px;
  position: relative;
}

.introduction::before {
  content: "";
  width: 50px;
  height: 50px;
  right: 100%;
  top: 90%;
  position: absolute;
  border-radius: 10px;
  /* border: 2px solid red; */
  border-left: 0.5em solid rgb(8, 51, 112);
  border-bottom: 0.5em solid rgb(8, 51, 112);
  transition-property: all;
  transition-duration: 0.5s;
}

.introduction::after {
  content: "";
  width: 50px;
  height: 50px;
  right: 5%;
  top: -3%;
  position: absolute;
  border-radius: 10px;
  /* border: 2px solid red; */
  border-right: 0.5em solid rgb(8, 51, 112);
  border-top: 0.5em solid rgb(8, 51, 112);
  transition-property: all;
  transition-duration: 0.5s;
}

.img > img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  border: none;
}

.git {
  margin-right: 3em;
}

.stack {
  display: flex;
  align-items: baseline;
}

.stack > h3 {
  padding: 0.5em;
  border-right: 2px solid black;
}

.stack > ul {
  display: flex;
  list-style-type: none;
  align-items: baseline;
  flex-wrap: wrap;
  justify-content: center;
}

.stack > ul > li {
  padding: 0.8em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition-property: all;
  transition-duration: 0.5s;
  border-radius: 5px;
}

.stack > ul > li:hover {
  transform: translateY(-16%);
  box-shadow: -1px 22px 19px -15px rgba(0, 0, 0, 0.75);
}

.stack > ul > li > span {
  margin-top: 1em;
}

.stack-article {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em;
}

.html {
  color: rgb(255, 109, 0);
}

.css {
  color: rgb(57, 158, 214);
}

.js {
  color: rgb(247, 223, 30);
}

.bootstrap {
  color: rgb(108, 25, 255);
}

.react {
  color: rgb(83, 193, 222);
}

#nav-btnClose {
  display: none;
}

.about-me {
  width: 100%;
  background-color: white;
  display: flex;
  padding: 5em;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.about-me > div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 35%;
}

.write-up {
  padding: 1em;
  max-width: 30em;
  align-self: center;
}

.write-up > strong {
  color: rgb(15, 104, 226);
  padding: 1em;
}

.write-up > h3 {
  padding-left: 1em;
  color: rgb(8, 41, 86);
}

.write-up > p {
  padding: 1em;
}

.about-me {
  position: relative;
}

.about-img {
  width: 90%;
  height: fit-content;
}

.about-img > img {
  width: 100%;
  height: auto;
  border-radius: 20px;
  min-width: 350px;
  max-width: 370px;
}

/* end of .main-1 styles */

/* Media Querries */
@media only screen and (max-width: 767px) {
  nav > ul {
    flex-direction: column;
    position: absolute;
    right: 0;
    left: 100%;
    box-shadow: -3px 3px 3px rgba(0, 0, 0, 0.1);
    z-index: 2;
    background-color: white;
    top: 0;
  }
  nav > ul > li {
    padding: 0.5em;
    background-color: white;
    margin: 0.5em;
  }
  .collapse {
    left: 60%;
  }
  #nav-btn {
    display: flex;
    position: absolute;
    right: 5%;
  }
  #nav-btnClose {
    display: initial;
  }
  .introduction {
    flex-direction: column-reverse;
    margin-left: 0;
    margin-right: 0;
  }
  .intro {
    width: 100%;
    margin-top: 0;
  }
  .intro > h1 {
    padding: 0.3em;
  }
  .main-1 {
    margin-top: 95px;
    padding: 1em;
    height: fit-content;
  }
  article {
    text-align: center;
  }
  .stack {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .stack > h3 {
    border-right: none;
    border-bottom: 2px solid black;
    margin-bottom: 1em;
  }
  .introduction::after {
    display: none;
  }
  .introduction::before {
    display: none;
  }
  .about-me {
    flex-direction: column;
    padding: 0;
    padding-top: 5em;
  }
  .about-me > div {
    width: 100%;
  }
  
  .write-img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .introduction {
    flex-direction: column-reverse;
    margin-left: 0;
    margin-right: 0;
  }
  .intro {
    width: 100%;
    margin-top: 0;
  }
  .intro > h1 {
    padding: 0.3em;
  }
  .main-1 {
    margin-top: 95px;
    padding: 1em;
    height: fit-content;
  }
  article {
    text-align: center;
  }
  .introduction::after {
    display: none;
  }
  .introduction::before {
    display: none;
  }
  .about-me {
    flex-direction: row;
    padding: 0;
    padding-top: 5em;
  }
  .about-me > div {
    width: 50%;
  }
  .write-img {
    display: flex;
    justify-content: center;
    align-items: start;
  }
  .write-up {
    text-align: left;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
  .introduction {
    margin-left: 0;
    margin-right: 0;
  }
  .introduction::after {
    display: none;
  }
  .introduction::before {
    display: none;
  }
  .about-me {
    flex-direction: row;
    padding: 0;
    padding-top: 5em;
  }
  .about-me > div {
    width: 50%;
  }
  .write-img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .write-up {
    text-align: left;
  }
}

/* end of media querries */
